* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 1000px;
  background-image: url(./images/nebula.png);
  /* background: linear-gradient(to right, #c31432, #240b36); */
  color: #fff;
}

.App canvas {
  height: 700px;
}

.canvas {
  background-color: none;
  display: flex;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

h1 {
  height: 120px;
}

h2 {
  margin-top: -20px;
  height: 50px;
}

.btn {
  height: 45px;
  line-height: 45px;
  width: 100px;
  background: rgb(255, 45, 73);
  color: rgb(255, 227, 251);
  font-weight: 800;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  user-select: none;
}

.btn:hover {
  box-shadow: 3px 0 10px rgb(85, 0, 0);
}